PORT=3000
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/
NODE_ENV=production

JWT_SECRET=your_jwt_secret_here

RESEND_API_KEY=your_resend_api_key_here
MAIL_FROM=onboarding@resend.dev
MAIL_FROM_NAME=Chatify

CLIENT_URL=https://chatify-frontend-tan.vercel.app/

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

ARCJET_KEY=your_arcjet_key
ARCJET_ENV=production